@{
    string username = User.Identity!.Name!;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Libreria</title> 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="/images/movie_filter_FILL0_wght400_GRAD0_opsz48.svg">
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
    <div class="logo">
        libreria store
    </div>
    <ul class="nav-link">
        <li><a class="active" href="@Url.Action("Index", "Home")">Inicio</a></li>
        
        @if(!string.IsNullOrEmpty(username))
        {
            <li><a href="/Home/About">About</a></li>
            <li>
                <a href="#">Admin <i class="fa fa-caret-down"></i></a>
                
                <ul class="dropdown-nav-link">
                    <li><a href="/forms.html">Categoria</a></li>
                    <li><a href="/Libro/Add">Libro</a></li>
                    <li><a href="/UserAuthentication/Logout">Logout</a></li>
                </ul>
            </li>

        }
        @if(string.IsNullOrEmpty(username)){
            <li><a href="/UserAuthentication/Login">Login</a></li>

        }
    </ul>
    </nav>
    <div class="container">


        @RenderBody()
        
    </div>


    
    <footer style="background-color: #f1f1f1; padding: 20px; text-align: center;">
        <p>&copy; 2024 Libreria Store - Todos los derechos reservados.</p>
        <p>
        <a href="#">Inicio</a> | 
        <a href="#">Novedades</a> | 
        <a href="#">Contacto</a> | 
        <a href="#">Política de Privacidad</a>
    </p>
    <p>📞 Atención al cliente: +[número] | ✉️ [correo@ejemplo.com]</p>
    <p>Síguenos en:
        <a href="#">Instagram</a> | 
        <a href="#">Facebook</a> | 
        <a href="#">Twitter</a>
    </p>

</footer>

</body>
</html>